<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <h1>this is home page</h1>
    <div>
        <form action="/user/register">
            <input type="submit" value="Register">
        </form>
    </div>
    <div>
        <form action="/user/login">
            <input type="submit" value="Login">
        </form>
    </div>
</body>

</html>