<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="/css/movieStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title></title>

    <style>
        .checked {
            color: orange;
        }
    </style>
</head>

<body background="/img/sky.jpg">
    <h1 id="title">FUKREY(2015)</h1>
    <h3 id="titledetails"> Not Rated | 2h 50min | Comedy,Drama </h3>
    <img id="movieImage" src="/img/movieimage.jpg" alt="Paris" class="center">
    <p id="details">
        The paths of four dream-chasing college friends cross with an array of colourful characters,<br>
        from a tough-talking Punjabi female don to a Jugaad Baaz college watchman. Mayhem ensues. <br><br><br>
        RATING : <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <br>
        Language : Hindi <br>
        Director: Mrighdeep Lamba (as Mrigdeep Singh Lamba) <br>
        Writers: Mrighdeep Lamba (additional dialogue) (as Mrigdeep Singh Lamba), Mrighdeep Lamba (screenplay) (as
        Mrigdeep Singh Lamba) br
    </p>

    <h1 id="titledetails">Previous Comments</h1>
    <h3 id="titledetails">1.Awesome Movie</h3>
    <h3 id="titledetails">2.Best Movie Ever</h3>
    <h3 id="titledetails">3.Time Waste</h3>
    <form>
        <textarea id="commentstyle" name="comment" rows="8" cols="40"
            placeholder="Write Your Review.........."></textarea>
        <br>
        <input id="commentsubmit" type="submit" name="" value="SUBMIT">
    </form>
</body>

</html>